/*
*= require bootstrap
*= require font-awesome
*= require libs/bootstrap-datepicker/css/datepicker3
*/

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

a .fa,
button .fa {
    margin-right: 5px;
}